<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    নিয়োগ পরিকল্পনা 
                    <small></small>
                </h1>
          
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">লাল স্টার মার্ক(<span class="text-red">*</span>) চিন্নিহিত সকল ফিল্ড পূরণ করুন। </h3>

                        <div class="box-tools pull-right">
                            <div class="btn-group">
                            <a th:href="@{/recruitmentplan/list}" class="btn  btn-warning btn-xs">বন্ধ</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <form action="#" th:action="@{/recruitmentplan/save}" th:object="${recruitmentPlan}" method="post" class="form-horizontal">

                            <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-ban"></i> Error </h4>
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </div>

                            <div class="row">

                                <input type="hidden" class="form-control"  th:field="*{id}" />

                            </div>
                            <div class="row"> 
                                <div class="form-group ">
                                    <label for="name" class="col-sm-3 control-label"> বিভাগ <span class="text-red"> * </span> </label>
                                    <div class="col-sm-3">                   
                                        <select class="form-control  "   th:field="*{department}" >
                                            <option value=" "> Select one</option>
                                            <option th:each =" department: ${department}"
                                                    th:value="${department.id} " 
                                                    th:text="${department.name}"> Select one</option>
                                        </select>
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="form-group ">
                                    <label for="name" class="col-sm-3 control-label"> উপ বিভাগ<span class="text-red"> * </span> </label>
                                    <div class="col-sm-3">                   
                                        <select class="form-control  "   th:field="*{subDepartment}" >
                                            <option value=" "> Select one</option>
                                            <option th:each =" subDepartment : ${subDepartment}"
                                                    th:value="${subDepartment.id} " 
                                                    th:text="${subDepartment.name}"> Select one</option>
                                        </select>
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('subDepartment')}" th:errors="*{subDepartment}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group ">
                                    <label for="name" class="col-sm-3 control-label"> উপাধি :<span class="text-red"> * </span> </label>
                                    <div class="col-sm-3">                   
                                        <select class="form-control  "   th:field="*{postingDesignation}">
                                            <option value=" "> Select one</option>
                                            <option th:each =" designation :${designation}"
                                                    th:value=" ${designation.id}" 
                                                    th:text="${designation.name}"> Select one</option>
                                        </select>
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('postingDesignation')}" th:errors="*{postingDesignation}">First Name Error</span>
                                        <span  class="help-block text-muted" >যদি সাব ডিপার্টমেন্ট না থাকে তাহলে Na সিলেক্ট করুন ।</span>
                                    </div>                            
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label"> সংখ্যা  :<span class="text-red"> * </span></label>
                                    <div class="col-sm-3">                    
                                        <input type="text"  class="form-control  "    th:field="*{qty}"  />        
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('qty')}" th:errors="*{qty}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">মন্তব্য :<span class="text-red"> </span></label>
                                    <div class="col-sm-3">                    
                                        <textarea   cols="5" rows="5"  class="form-control  "    th:field="*{remanrk}"  >      </textarea> 
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remanrk')}" th:errors="*{remanrk}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" >
                                    <div class="box-tools">
                                        <div class="btn-group text-center">

                                            <button type="submit" class="btn  btn-warning">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>