<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-view-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" >
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>

                </h1>

            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->

                <div class="row">
                    <div class="col-sm-12">
                    
                    <div class="box box-success ">
                        <div class="box-header with-border text-center">
                            <h1 class="box-title"><span class="text-success">আমাদের </span><span class="text-danger">ঢাকা, আমাদের </span><span class="text-success">ঐতিহ্য</span></h1>
                            <div class="box-tools pull-right">
                                <div class="btn-group">
<!--                                    <div sec:authorize="!isAuthenticated()">
                          hi
                        </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                          <div class="col-sm-12 alert alert-success alert-dismissible text-center" th:if="${!#strings.isEmpty(success)}"> 
                             <span th:text="${success}"></span>
                        </div>

                            <div class="col-sm-6">
                                 <img th:src="@{/images/dscc-building.jpg}"  class="img-thumbnail " />
                            </div>
                            <div class="col-sm-6">
                                
                                <div class="box box-success box-solid">
                                        <div class="box-header box-success">
                                            <h3 class="box-title text-center"> অনুগ্রহপূর্বক আপনার আইডি এবং পাসওয়ার্ড প্রদান  করুন </h3>
                                            <div class="box-tools pull-right">
                                                <div class="btn-group">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="box-body">
                              
                                
                          
<!--                                <h3 class="box-title text-center"> Please provide your user name  and password </h3>-->
                                <!--    <p class="login-box-msg">Sign in to start your session</p>-->
                                <div class="alert alert-danger" th:if="${param.error}">
                                    Invalid User Name or Password. Please try again.   

                                </div>
                                <div class="alert alert-warning" th:if="${param.logout}">
                                    You have been logged out.
                                </div>
                                <form th:action="@{/users/login}"  method="post">
                                    <div class="form-group has-feedback">
                                        <input type="text"  name="username"   required class="form-control" placeholder="আই ডি" />

                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" name="password"  class="form-control" placeholder="পাসওয়ার্ড" required />
                                        
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    </div>
                                   

                                       <div class="form-group has-feedback">
                                           <button type="submit" class="btn btn-primary btn-block btn-flat">প্রবেশ করুন</button>
                                       
                                   </div>
                                            
                                     

                               
                                </form>

<!--                                <div class="social-auth-links text-center">
                                    <p>- অথবা -</p>
                                </div>
                                 /.social-auth-links 

                                <a th:href="@{/forgotpassword/userforgotpassword}"  class="btn btn-block btn-social btn-facebook btn-flat"> I forgot my password</a><br/>
                                <a th:href="@{/users/front-registrations}" class="btn btn-google btn-block btn-flat">নতুন সদস্য নিবন্ধন করুন </a>-->
                            </div>   
                        </div> </div>  </div>          
                    </div>           
                    </div>


                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>