<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                কর্মকর্তা/কর্মচারী
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">  ব্যবহারকারীদের নিবন্ধন</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">

                                <a th:href="@{/users/index}" type="button" class="btn  btn-warning btn-xs">বন্ধ</a>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <form  th:action="@{/users/save}"   th:object="${users}"  method="post"  class="form-horizontal">
                            <div class="box-body">
                                <div class="row"> 
                                    <div th:text="${message}"> </div>
                                </div>

                                <div class="row"> 
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label" for="name"> সনাক্তকরণ নম্বর (IDN)<span class="text-red"> *</span> :</label>
                                        <div class="col-sm-5">
                                            <input type="hidden" class="form-control"  th:field="*{id}" />
                                            <input type="text" class="form-control"    th:field="*{governmentId}"   />

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('governmentId')}" th:errors="*{governmentId}">Book Name</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row"> 
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label" for="name">নাম<span class="text-red"> *</span> :</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"    th:field="*{name}"   />
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Book Name</span>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row"> 
                                    <div class="form-group ">
                                        <label for="name" class="col-sm-3 control-label"> বিভাগ<span class="text-red"> * </span> </label>
                                        <div class="col-sm-5">                   
                                            <select class="form-control  "   th:field="*{department}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" department: ${department}"
                                                        th:value="${department.id} " 
                                                        th:text="${department.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="row"> 

                                    <div class="form-group ">
                                        <label for="name" class="col-sm-3 control-label"> উপ বিভাগ<span class="text-red"> * </span> </label>
                                        <div class="col-sm-5">                   
                                            <select class="form-control  "   th:field="*{subDepartment}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" subDepartment : ${subDepartment}"
                                                        th:value="${subDepartment.id} " 
                                                        th:text="${subDepartment.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('subDepartment')}" th:errors="*{subDepartment}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="row"> 

                                    <div class="form-group ">
                                        <label for="name" class="col-sm-3 control-label">ব্যবহারকারীর ধরণ  <span class="text-red"> * </span> </label>
                                        <div class="col-sm-5">     
                                            <!--                                             <select class="form-control  "   th:field="*{role}" multiple="multiple" >-->
                                            <select class="form-control  "   th:field="*{role}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" role: ${role}"
                                                        th:value="${role.id} " 
                                                        th:text="${role.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">First Name Error</span>
                                        </div>                            
                                    </div>


                                </div>
                                <div class="row"> 
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label" for="name">ই-মেইল<span class="text-red"> </span> :</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"    th:field="*{email}"   />
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Book Name</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row"> 
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label" for="mobile">মুঠোফোন নাম্বার <span class="text-red"> </span> :</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"   th:field="*{mobile}" />
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">Book Name</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row"> 
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label" for="password">পাসওয়ার্ড<span class="text-red"> *</span> :</label>
                                        <div class="col-sm-5">
                                            <!-- <input type="password" class="form-control"   th:field="*{password}" />-->

                                            <input type="password" class="form-control" th:if="${users.id==null}"  th:required="required" minlength=8 maxlength="100" th:field="*{password}"  />
                                            <input type="password" class="form-control" th:unless="${users.id==null}"   minlength=8 maxlength="100" th:field="*{password}"  />

                                            <span  class="help-block has-error  text-red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Book Name</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">

                                        <div class="col-sm-5">
                                            <input type="hidden"
                                                   class="form-control" maxlength="100" name="password2"
                                                   th:value="${users.password}" /> <span
                                                   class="help-block has-error  text-red"
                                                   th:if="${#fields.hasErrors('password')}"
                                                   th:errors="*{password}">Book Name</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row"> 
                                    <div class="form-group ">
                                        <label for="name" class="col-sm-3 control-label">ব্যবহারকারীর অবস্থা<span class="text-red"> * </span> </label>
                                        <div class="col-sm-5">    
                                            <select class="form-control  "   th:field="*{status}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" status :${status}"
                                                        th:value=" ${status}" 
                                                        th:text="${status}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>

                                <div class="row"> 
                                    <div class="form-group ">
                                        <label for="name" class="col-sm-3 control-label">মন্তব্য<span class="text-red">  </span> </label>
                                        <div class="col-sm-5">
                                            <textarea class="form-control"   th:field="*{remarks}" ></textarea>
                                        </div>
                                    </div>                            
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">

                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div> 



    </div>

</div>