<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                 এমপ্লয়ী লিস্ট
                </h1>
            </section>

            <!-- Main content -->

            <section class="content">

                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title"> বিস্তারিত  তথ্য</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">

                                <a th:href="@{/users/index}" type="button" class="btn  btn-warning">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="box-body col-md-8">
                        <table class="table table-bordered ">
                            <tr>
                              
                                <th>শিরোনাম</th>
                                <th>ডেটা</th>
                            </tr>
                            
<!--                            <tr>
                                <td>1.</td>
                                <td>Id</td>
                                <td th:text="${users.id}"> </td>
                            </tr>-->
                            
                            <tr>
                                
                                <td>সরকারি আইডি/ফাইল নম্বর</td>
                                <td>
                                    <span th:inline="text"> [[${users.governmentId}]]</span>
                                </td>
                            </tr>
                            
                            <tr>
                              
                                <td>নাম </td>
                                <td>
                                    <span th:inline="text"> [[${users.name}]]</span>
                                </td>
                            </tr>
                            
                            <tr>
                                
                                <td>বিভাগ</td>
                                <td>
                                    <span th:inline="text"> [[${users.department.name}]]</span>
                                </td>
                            </tr>
                            
                            <tr>
                                
                                <td>উপ বিভাগ</td>
                                <td>
                                    <span th:inline="text"> [[${users.subDepartment.name}]]</span>
                                </td>

                            </tr>         
                <tr>
                               
                                <td>ই-মেইল </td>
                                <td>
                                  <span th:inline="text"> [[${users.email}]]</span>
                                </td>

                            </tr>        
                            <tr>
                               
                                <td>মোবাইল নম্বর</td>
                                <td>
                                    <span th:inline="text"> [[${users.mobile}]]</span>
                                </td>

                            </tr>
                            
                 
                            <tr>
                               
                                <td>মন্তব্য</td>
                                <td>
                                    <span th:inline="text"> [[${users.remarks}]]</span>
                                </td>

                            </tr>
                            
                            <tr>
                              
                                <td>অবস্থা</td>
                                <td>
                                    <span th:inline="text"> [[${users.status}]]</span>
                                </td>

                            </tr>
                            
                            <tr>
                                
                                <td>তৈরি</td>
                                <td>
                                    <span th:inline="text"> [[${users.createdOn}]]</span>
                                </td>

                            </tr>
                            <tr>
                                
                                <td>দ্বারা সৃষ্টি</td>
                                <td>
                                    <span th:inline="text"> [[${users.createdBy}]]</span>
                                </td>

                            </tr>
                            
                            <tr>
                               
                                <td>আপডেট করা হয়েছে</td>

                                <td>   <span th:inline="text"> [[${users.updatedOn}]]</span></td>
                            </tr>
                            <tr>
                               
                                <td>দ্বারা আপডেট করা হয়েছে</td>

                                <td>   <span th:inline="text"> [[${users.updatedBy}]]</span></td>
                            </tr>

<!--                            <tr>
                                <td>15.</td>
                                <td>lastLogin</td>
                                <td>
                                    <span th:inline="text"> [[${users.lastLogin}]]</span>
                                </td>

                            </tr>-->
<!--                            <tr>
                                <td>16.</td>
                                <td>lastLogOut</td>
                                <td>
                                    <span th:inline="text"> [[${users.lastLogOut}]]</span>
                                </td>

                            </tr>-->
                            <tr>
                                
                                <td>   <a type="button" class="btn  btn-warning bg-maroon" th:href="@{/users/edit/{id} (id=${users.id})}" > Edit</a></td>
                                <td>
                                    <a  type="button" class="btn  btn-warning  bg-red " th:href="@{/users/delete/{id} (id=${users.id})}" > Delete </a>
                                </td>

                            </tr>
                        </table>     

                    </div>


                    <div class="box-footer">
                        <div class="box-tools pull-right">

                        </div>
                    </div>

                </div>


            </section>

        </div>
        <!-- /.content-wrapper -->
    </div>
</div>