<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                 মানব সম্পদ ব্যবস্থাপনা

                </h1>

            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-6">

                        <div class="box box-success box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"> পদবি  অনুযায়ী  </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">



                                <table class="table table-bordered" id="myTableId">
                                    <thead>
                                        <tr>
                                            <td >#</td> 
                                            <td>নাম </td> 
                                            <td>ক্রমিক নং  </td> 
                                            <td></td> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  th:each="designation,status:${designation}">
                                            <td th:text="${ status.count}">2 </td> 
                                            <td th:text="${designation.name}">BCS</td> 
                                            <td th:text="${designation.orderId}">BCS</td> 
                                            <td > <span class="label label-success" th:text="${designation.presentjob.size()}">BCS</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">

                            </div>
                        </div>
                        <!-- /.box -->

                        <!--                        <div class="box  box-warning box-solid">
                                                    <div class="box-header">
                                                        <h3 class="box-title"> Employee By Post/Rank </h3>
                                                    </div>
                                                     /.box-header 
                                                    <div class="box-body no-padding">
                                                        <table class="table table-condensed">
                                                            <tr>
                                                                <th style="width: 10px">#</th>
                                                                <th>Name</th>
                                                            </tr>
                                                            <tr  th:each="postingrank,status:${postingrank}">
                                                                <td th:text="${ status.count}">2 </td> 
                                                                <td th:text="${postingrank.name}">BCS</td> 
                                                            </tr>
                                                            <tr >
                        
                                                            </tr>
                        
                                                        </table>
                                                    </div>
                                                     /.box-body 
                                                </div>-->
                        <!-- /.box -->

                        <!--                        <div class="box  box-success box-solid">
                                                    <div class="box-header">
                                                        <h3 class="box-title"> Employee By Grade </h3>
                                                    </div>
                                                     /.box-header 
                                                    <div class="box-body no-padding">
                                                        <table class="table table-condensed">
                                                            <tr>
                                                                <th style="width: 10px">#</th>
                                                                <th>Name</th>
                                                            </tr>
                                                            <tr  th:each="postingrank,status:${postingrank}">
                                                                <td th:text="${ status.count}">2 </td> 
                                                                <td th:text="${postingrank.name}">BCS</td> 
                                                            </tr>
                                                            <tr >
                        
                                                            </tr>
                        
                                                        </table>
                                                    </div>
                                                     /.box-body 
                                                </div>-->
                        <!-- /.box -->

                        <!--                        <div class="box  box-warning box-solid">
                                                    <div class="box-header">
                                                        <h3 class="box-title"> Employee By Gender </h3>
                                                    </div>
                                                     /.box-header 
                                                    <div class="box-body no-padding">
                                                        <table class="table table-condensed">
                                                            <tr>
                                                                <th style="width: 10px">#</th>
                                                                <th>Name</th>
                                                            </tr>
                                                            <tr  th:each="postingrank,status:${postingrank}">
                                                                <td th:text="${ status.count}">2 </td> 
                                                                <td th:text="${postingrank.name}">BCS</td> 
                                                            </tr>
                                                            <tr >
                        
                                                            </tr>
                        
                                                        </table>
                                                    </div>
                                                     /.box-body 
                                                </div>-->
                        <!-- /.box -->


                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="box box-solid box-primary">
                            <div class="box-header">
                                <h3 class="box-title"> বিভাগ অনুযায়ী  </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <table class="table table-bordered"  id="myTableId">
                                    <thead>
                                        <tr>
                                            <td >#</td> 
                                            <td >বিভাগ </td>
                                            <td >&nbsp;</td>
                                            <td >উপ বিভাগ </td> 

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  th:each="department,status:${department}">
                                            <td th:text="${ status.count}">2 </td> 
                                            <td th:text="${department.name}">BCS</td> 
                                            <td> <span class="label label-success" th:text="${department.department.size()}"></span></td> 
                                            <td>

                                                <ul  class="list-unstyled" th:each="sublist,status:${department.subDepartment}">

                                                    <li> <span th:text="${sublist.name}"></span><span class=" label label-danger badge pull-right" th:text="${sublist.subDepartment.size()}">5</span> </li>

                                                </ul>


                                            </td> 

                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>