<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" >
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Administrations

                </h1>

            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Settings Data </h3>

                        <div class="box-tools pull-right">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="box-body col-sm-3">
                         <a  th:href="@{/module/index}" type="button" class="btn btn-block btn-danger">Module </a>
                         <a  th:href="@{/privilege/index}" type="button" class="btn btn-block btn-danger"> Privilege </a>
                        <a  th:href="@{/role/index}" type="button" class="btn btn-block btn-danger"> Role</a>
                        <a  th:href="@{/thana/index}" type="button" class="btn btn-block btn-danger"> Upzilla / Thana </a>
                        <a  th:href="@{/department/index}" type="button" class="btn btn-block btn-danger"> Department </a>
                        <a  th:href="@{/subdepartment/index}" type="button" class="btn btn-block btn-danger">Sub  Department </a>
                        <a  th:href="@{/batch/index}" type="button" class="btn btn-block btn-danger">Batch</a>
                        <a  th:href="@{/cadre/index}" type="button" class="btn btn-block btn-danger">Cadre</a>
                   </div>
                    <!-- /.box-body -->
                    <div class="box-body col-sm-3">
                        <a  th:href="@{/employeestatus/index}" type="button" class="btn btn-block btn-danger">Employee status</a>
                        <a  th:href="@{/postingdesignation/index}" type="button" class="btn btn-block btn-danger">Posting Designation</a>
<!--                        <a  th:href="@{/postingorganization/index}" type="button" class="btn btn-block btn-danger">Posting Organization</a>-->
                        <a  th:href="@{/postingrank/index}" type="button" class="btn btn-block btn-danger">Rank/Order of precedence</a>
                        <a  th:href="@{/presentpostinglocation/index}" type="button" class="btn btn-block btn-danger">Posting Location/Stations</a>
                      <!--  <a  th:href="@{/presentpostinglocation/index}" type="button" class="btn btn-block btn-danger">Ethnic Identity</a>-->


                    </div>
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>






            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>