<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    ইমেইল 
                    <small></small>
                </h1>
                <ol class="breadcrumb">

                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>

                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <!--                                <button type="button" class="btn  btn-primary btn-xs">Add/Save</button>-->
                                <a th:href="@{/email/singleemail}" class="btn  btn-success btn-xs">Single Email</a>
                                <a th:href="@{/email/groupemail}" class="btn  btn-danger btn-xs">Group Email</a>
                                <a class="btn  btn-warning btn-xs">Close</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>