<div  th:fragment="header-nav-top">
    <header class="main-header">  


        <div class="container">

            <div class="media hidden-xs">
                <div class="media-left  media-middle">
                    <a th:href="@{/users/login}"> <img th:src="@{/images/dscc-logo.png}" class=" media-object" height="100" width="100"/></a>
                </div>
                <div class="media-body">

                    <h1 class="media-heading">
                        Dhaka South City Corporation
                    </h1>
                    <h3>Personal Information Management System</h3>
                </div>
            </div>

            <div class="media visible-xs">
                <div class="  pull-left media-middle">
                    <a th:href="@{/users/login}"> <img th:src="@{/images/dscc-logo.png}" class=" media-object" height="100" width="100"/></a>
                </div>
                <div class="media-body">

                    <h4 class="media-heading">
                        Dhaka South City Corporation
                    </h4>
                    <h6>Personal Information Management System</h6>
                </div>
            </div>
        </div>

        <!-- =============================================== -->
    </header>
</div>

