<div  th:fragment="nav-left">
    <aside class="main-sidebar" >
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
<!--                 <li sec:authorize="hasAuthority('HOME_VISIT')"><a th:href="@{/lookupdashboards/homevisit}"><i class="fa fa-circle-o"></i> Home Visit Settings</a></li>-->
                <li>
                    <a th:href="@{/}"> <i class="fa fa-home"></i> <span>হোম </span></a> 
                </li>
                <li sec:authorize="hasAuthority('dashboards')"> 
                    <a th:href="@{/dashboards/index}"> <i class="fa  fa-user"></i><span> প্রশাসনিক এলাকা </span></a> 
                </li>

                <li>
                    <a th:href="@{/selfservice/index}">  <i class="fa fa-id-card"></i> <span> আপনার নিজস্ব তথ্য</span></a> 
                </li>
                
<!--                <li>
                    <a th:href="@{/directory/directory}"> <i class="fa fa-users"></i> <span>Employee Directory</span></a> 
                </li>-->
<!--                <li sec:authorize="hasAuthority('change_password')"> 
                    <a th:href="@{/changepassword/changepassword}"><i class="fa  fa-edit"></i><span>চেঞ্জ পাসওয়ার্ড</span></a> 
                </li>-->
                <li class="treeview">
                    <a th:href="@{/users/logout}">
                             <i class="fa fa-user-times"></i>
                        <span>
                        লগ আউট</span>

                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
        <!-- =============================================== -->
    </aside>
</div>
