<div  th:fragment="header-nav-top">
    <header class="main-header">  


        <div class="container">

            <div class="media hidden-xs">
                <div class="media-left  media-middle">
                    <a th:href="@{/users/login}"> <img th:src="@{/images/dscc-logo.png}" class=" media-object" height="100" width="100"/></a>
                </div>
                <div class="media-body">

                    <h1 class="media-heading" style="padding-top:10px;">

                    <span style="color: #0F8943; font-family: 'Hind Siliguri', sans-serif; font-weight: 700;"> ঢাকা দক্ষিণ সিটি কর্পোরেশন </span>
                    </h1>
                    <h3 style="padding: 0px 0px 0px 0px!important;margin: 0px 0px 0px 0px!important;"><span  style="color: #ED2024;  font-family: 'Hind Siliguri', sans-serif; font-weight: 700;">মানব  সম্পদ ব্যবস্থাপনা </span> </h3>
                </div>
            </div>

            <div class="media visible-xs">
                <div class="  pull-left media-middle">
                    <a th:href="@{/users/login}"> <img th:src="@{/images/dscc-logo.png}" class=" media-object" height="100" width="100"/></a>
                </div>
                <div class="media-body">

                    <h4 class="media-heading">
                     <b> ঢাকা দক্ষিণ সিটি কর্পোরেশন</b>
                    </h4>
                    <h6><b>মানব  সম্পদ ব্যবস্থাপনা</b></h6>
                </div>
            </div>
        </div>

        <!-- =============================================== -->
    </header>
</div>

