<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout">
    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="title text-center">ঢাকা দক্ষিণ সিটি কর্পোরেশনের মানব সম্পদ ব্যবস্থাপনা  <span th:text="${username}"></span></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                    </div>

                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div> 



    </div>

</div>
