<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
               নতুন নিবন্ধিত কর্মচারী/কর্মকর্তার তালিকা  <small> </small>
                </h1>

            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> মোট কর্মচারী/কর্মকর্তা :  <span th:text="${alluser.size()}"></span></h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">#</th>
                                 <th>সনাক্তকরণ নম্বর</th>
                                <th>নাম </th>
                       
                                    <th>ইমেল </th>
                                    <th>মুঠোফোন নাম্বার</th>
                                    <th>বিভাগ</th>
                                    <th>উপ বিভাগ</th>
                                  <th>অবস্থা</th>
                                      <th>স্টেটাস</th>
                                    <th>বিস্তারিত</th>
                            
                                
                            </tr>
                            <tr th:each="alluser,status:${alluser}">
                                <td th:text="${status.count}">2.</td>
                                <td th:text="${alluser.governmentId}">Chakma</td>
                                <td th:text="${alluser.name}">Chakma</td>
                                <td th:text="${alluser.email}">Chakma</td>
                                <td th:text="${alluser.mobile}">Chakma</td>
                                <td th:text="${alluser.department.name}">Chakma</td>
                                <td th:text="${alluser.subDepartment.name}">Chakma</td>
                                <!--<td th:text="${alluser.role.name}">Chakma</td>-->
                                <td>
                                    
                                    <div th:each="rolses:${alluser.role}">
                                        <span th:text="${rolses.name}"></span>
                                        </div>
                                    </td>
                                <td th:text="${alluser.status}">Chakma</td>                        
                                <td>
                                    <a type="button" class="btn  btn-warning btn-xs bg-green" th:href="@{/details/detailsinfo/{e_id} (e_id=${alluser.id})}" >বিস্তারিত যোগ করুন</a>
                                </td>
                            </tr>                                
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">

                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>