<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    ব্যক্তিগত তথ্য ব্যবস্থাপনা 
                    <small></small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> প্রাপ্ত ও অপ্রাপ্ত বয়স্ক সন্তানের তথ্য</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <a th:href="@{/details/detailsinfo/{id} (id=${childrenInformation.governmentId.id})}" type="button" class="btn  btn-warning ">বন্ধ</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body  ">
                        <div class="col-sm-7 col-md-7 col-sm-offset-2 col-md-offset-2">
                            <!-- Default box -->
                            <div class="box box-warning box-solid  ">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> প্রাপ্ত ও অপ্রাপ্ত বয়স্ক সন্তানের তথ্য তথ্য যোগ/সম্পাদনা করুন </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <form action="#" th:action="@{/childreninformation/save/{id} (id=${childrenInformation.governmentId.id})}" th:object="${childrenInformation}" method="post" class="form-horizontal">

                                        <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4><i class="icon fa fa-ban"></i> Error </h4>
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>

                                        <div class="row">
                                            <input type="hidden" class="form-control"  th:field="*{id}" />
                                            <input type="hidden" class="form-control display"  th:field="*{governmentId}" />

                                        </div>                         
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> নাম  :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{childName}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childName')}" th:errors="*{childName}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> লিঙ্গ  :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-7">                   
                                                    <select class="form-control  "   th:field="*{gender}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" gender :${gender}"
                                                                th:value=" ${gender}" 
                                                                th:text="${gender}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">First Name Error</span>
                                                </div>                            
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> জন্ম তারিখ  :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">    
                                                    <div class="input-group date" >
                                                        <div class="input-group-addon" > 
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text"   placeholder="dd/mm/yyyy" class="form-control  " th:field="*{dateofBirth}"    />                
                                                    </div>  

                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('dateofBirth')}" th:errors="*{dateofBirth}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> জন্মস্থান  :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-7">                   
                                                    <select class="form-control  "   th:field="*{birthCountry}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" birthCountry :${birthcountry}"
                                                                th:value=" ${birthCountry}" 
                                                                th:text="${birthCountry}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('birthCountry')}" th:errors="*{birthCountry}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> জন্ম নিবন্ধন নম্বর :<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{birthCertificateNumber}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('birthCertificateNumber')}" th:errors="*{birthCertificateNumber}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> জাতীয় পরিচয়পত্র নম্বর:<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{nid}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('nid')}" th:errors="*{nid}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> পাসপোর্ট নম্বর :<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{passportNo}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('passportNo')}" th:errors="*{passportNo}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
<!--                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> জাতিগত পরিচয়: <span class="text-red"> * </span> </label>
                                                <div class="col-sm-7">                   
                                                    <select class="form-control  "   th:field="*{ethnicIdentity}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" ethnicIdentitys :${ethnicIdentitys}"
                                                                th:value=" ${ethnicIdentitys}" 
                                                                th:text="${ethnicIdentitys}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('ethnicIdentity')}" th:errors="*{ethnicIdentity}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>-->
                                        <!--                                        <div class="row">
                                                                                    <div class="form-group">
                                                                                        <label for="name" class="col-sm-4 control-label"> জাতীয়তা: <span class="text-red"> * </span></label>
                                                                                        <div class="col-sm-7">                    
                                                                                            <input type="text"  class="form-control  "    th:field="*{nationality}"  />        
                                                                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}">First Name Error</span>
                                                                                        </div>                            
                                                                                    </div>
                                                                                </div>-->


                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> শারীরিক অবস্থা  :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-7">                   
                                                    <select class="form-control  "   th:field="*{psychicalStatus}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" psychicalStatus :${psychicalStatus}"
                                                                th:value=" ${psychicalStatus}" 
                                                                th:text="${psychicalStatus}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('psychicalStatus')}" th:errors="*{psychicalStatus}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> পড়াশোনা করে  :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-7">                   
                                                    <select class="form-control  "   th:field="*{schooling}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" yesno :${yesno}"
                                                                th:value=" ${yesno}" 
                                                                th:text="${yesno}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('schooling')}" th:errors="*{schooling}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> কোন শ্রেণীতে অধ্যয়নরত :<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{educationLevel}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('educationLevel')}" th:errors="*{educationLevel}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>





                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">মন্তব্য  :<span class="text-red"> </span></label>
                                                <div class="col-sm-7">                    
                                                    <textarea   cols="5" rows="5"  class="form-control  "    th:field="*{remarks}"  >      </textarea> 
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-center" >
                                                <div class="box-tools">
                                                    <div class=" text-center">
                                                        <br/>
                                                        <button type="submit" class="btn  btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.box -->              
                        </div>

                        <div class="col-sm-12 col-md-12col-xs-12">    
                            <div class="box box-success  box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><span th:text="${table_name}"> ..</span>সন্তানদের তালিকা </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body"style="overflow-x: scroll;">

                                    <table class="table table-bordered" style="overflow-x: scroll;">
                                        <thead class=" box box-success  box-solid">
                                            <tr>  
                                                <th>নং</th> 
                                                <th>নাম  </th>
                                                <th>লিঙ্গ  </th>
                                                <th> জন্ম তারিখ </th>
                                                <th> জন্মভূমি</th>
                                                <th> জন্ম সনদ নং</th>
                                                <th> জাতীয় পরিচয়পত্র নং</th>
                                                <th> পাসপোর্ট নম্বর </th>
<!--                                                <th> জাতিগত পরিচয়</th>-->
                                                <!--                                            <th> জাতীয়তা</th>-->
                                                <th> শারীরিক অবস্থা</th>
                                                <th> পড়াশোনা করে</th>
                                                <th> কোন শ্রেণীতে অধ্যয়নরত</th>                                  
                                                <th> মন্তব্য </th>
                                                <th> Created</th>
                                                <th> Updated</th>
                                                <th> Edit</th>
                                                <th> Delete</th>
                                            </tr>
                                        </thead>

                                        <tr  th:each="list,status:${list}">
                                            <td th:text="${ status.count}">2 </td> 
                                            <td th:text="${list.childName}">BCS</td> 
                                            <td th:text="${list.gender}">BCS</td>
                                            <td th:text="${list.dateofBirth}">BCS</td>
                                            <td th:text="${list.birthCountry}">BCS</td>
                                            <td th:text="${list.birthCertificateNumber}">BCS</td>   
                                            <td th:text="${list.nid}">BCS</td>   
                                            <td th:text="${list.passportNo}">BCS</td>   
<!--                                            <td th:text="${list.ethnicIdentity}">BCS</td> -->
                                            <!--                                        <td th:text="${list.nationality}">BCS</td> -->
                                            <td th:text="${list.psychicalStatus}">BCS</td>   
                                            <td th:text="${list.schooling}">BCS</td>
                                            <td th:text="${list.educationLevel}">BCS</td>  

                                            <td th:text="${list.remarks}">BCS</td>  

                                            <td>Created:<span th:text="${list.createdOn}"></span><br/>
                                                Created By:<span th:text="${list.createdBy}"></span><br/>
                                            </td><td>
                                                Updated:<span th:text="${list.updatedOn}"></span><br/>
                                                Updated By:<span th:text="${list.updatedBy}"></span></td>
                                            <td>
                                                <!--                                                <button class=" btn  btn-xs bg-orange"> <i class="fa fa-eye" aria-hidden="true"></i> </button> -->
                                                <a  class=" btn  btn-xs bg-maroon" th:href="@{/childreninformation/edit/{id} (id=${list.id})}" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                                            </td><td>
                                                <a class=" btn  btn-xs bg-red" th:href="@{/childreninformation/delete/{id} (id=${list.id})}" > <i class="fa fa-trash" aria-hidden="true"></i> </a>
                                            </td>

                                        </tr>


                                    </table>
                                </div>
                            </div>                      
                        </div>  
                    </div>


                </div>
                <!-- /.box -->



            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>