<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    ব্যক্তিগত তথ্য ব্যবস্থাপনা 
                    <small></small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> সাধারণ তথ্য </h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <a th:href="@{/details/detailsinfo/{e_id} (e_id=${generalInformation.governmentId.id})}" type="button" class="btn  btn-warning btn-xs">বন্ধ</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-sm-12">
                        </div>

                        <div class="col-sm-6">
                            <!-- Default box -->
                            <div class="box box-warning box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> সাধারণ তথ্য যোগ/সম্পাদনা করুন</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>

                                    </div>
                                </div>
                                <div class="box-body">

                                    <form action="#" th:action="@{/generalinformation/save/{id} (id=${generalInformation.governmentId.id})}" th:object="${generalInformation}" method="post" class="form-horizontal">
                                        <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4><i class="icon fa fa-ban"></i> Error </h4>
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <input type="hidden" class="form-control"  th:field="*{id}" />

                                            <input type="hidden" class="form-control"  th:field="*{governmentId}" />

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> নাম (ইংরেজী) :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{name}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> নাম (বাংলা) :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{nameBangla}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('nameBangla')}" th:errors="*{nameBangla}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="form-group">

                                                <label for="name" class="col-sm-4 control-label"> পিতার  নাম (ইংরেজী):<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{fathersName}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('fathersName')}" th:errors="*{fathersName}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">

                                                <label for="name" class="col-sm-4 control-label"> পিতার  নাম (বাংলা)  :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{fathersNameBangla}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('fathersNameBangla')}" th:errors="*{fathersNameBangla}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> মাতার  নাম (ইংরেজী):<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{mothersName}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('mothersName')}" th:errors="*{mothersName}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> মাতার  নাম (বাংলা)  :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{mothersNameBangla}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('mothersNameBangla')}" th:errors="*{mothersNameBangla}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> নিজ জেলা  :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-6">                   
                                                    <select class="form-control  "   th:field="*{homeDistrict}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" district :${district}"
                                                                th:value=" ${district}" 
                                                                th:text="${district}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('homeDistrict')}" th:errors="*{homeDistrict}">First Name Error</span>
                                                </div>                            
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">  জন্ম তারিখ  :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-7">    
                                                    <div class="input-group date" >
                                                        <div class="input-group-addon" > 
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" placeholder="dd/mm/yyyy" class="form-control  " th:field="*{dateofBirth}"    />                
                                                    </div>  
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('dateofBirth')}" th:errors="*{dateofBirth}">First Name Error</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> জন্ম স্থান :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-6">                   
                                                    <select class="form-control  "   th:field="*{birthCountry}"  >
                                                        <!--                                                        <option value=" "> Select one</option>-->
                                                        <option th:each =" birthCountry :${birthcountry}"
                                                                th:value=" ${birthCountry}" 
                                                                th:text="${birthCountry}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('birthCountry')}" th:errors="*{birthCountry}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> জন্ম নিবন্ধন নম্বর:<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{birthCertificateNumber}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('birthCertificateNumber')}" th:errors="*{birthCertificateNumber}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        
                                              <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> জাতীয় পরিচয়পত্র নম্বর:<span class="text-red">*  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{nid}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('nid')}" th:errors="*{nid}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> লিঙ্গ: <span class="text-red"> * </span> </label>
                                                <div class="col-sm-6">                   
                                                    <select class="form-control  "   th:field="*{gender}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" gender :${gender}"
                                                                th:value=" ${gender}" 
                                                                th:text="${gender}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> বৈবাহিক অবস্থা :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-6">                   
                                                    <select class="form-control  "   th:field="*{maritalStatus}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" maritalStatus :${maritalStatus}"
                                                                th:value=" ${maritalStatus}" 
                                                                th:text="${maritalStatus}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('maritalStatus')}" th:errors="*{maritalStatus}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> ধর্ম: <span class="text-red"> * </span> </label>
                                                <div class="col-sm-6">                   
                                                    <select class="form-control  "   th:field="*{religion}">
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" religion :${religion}"
                                                                th:value=" ${religion}" 
                                                                th:text="${religion}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('religion')}" th:errors="*{religion}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> জাতিগত পরিচয়: <span class="text-red"> * </span> </label>
                                                <div class="col-sm-6">                   
                                                    <select class="form-control  "   th:field="*{ethnicIdentity}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each ="ethnicIdentitys:${ethnicIdentitys}"
                                                                th:value=" ${ethnicIdentitys}" 
                                                                th:text="${ethnicIdentitys}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('ethnicIdentity')}" th:errors="*{ethnicIdentity}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

<!--                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> জাতীয়তা: <span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{nationality}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>-->
                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label">রক্তের গ্রুপ: <span class="text-red"> * </span> </label>
                                                <div class="col-sm-6">                   
                                                    <select class="form-control  "   th:field="*{bloodGroup}"  >
                                                        <!--                                                        <option value=" "> Select one </option>-->
                                                        <option th:each =" bloodgroupes :${bloodgroups}" th:value=" ${bloodgroupes}"  th:text="${bloodgroupes}"> Select one </option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('bloodGroup')}" th:errors="*{bloodGroup}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> ড্রাইভিং লাইসেন্স  : <span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{drivingLicence}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('drivingLicence')}" th:errors="*{drivingLicence}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> পাসপোর্ট নম্বর :<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{passportNo}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('passportNo')}" th:errors="*{passportNo}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>                                     
                                  

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> টিআইএন নং  :<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{tin}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('tin')}" th:errors="*{tin}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <!--                                        <div class="row">
                                                                                    <div class="form-group">
                                                                                        <label for="name" class="col-sm-4 control-label">  পি.আর.এল. তারিখ  :<span class="text-red"> * </span> </label>
                                                                                        <div class="col-sm-7">    
                                                                                            <div class="input-group date" >
                                                                                                <div class="input-group-addon" > 
                                                                                                    <i class="fa fa-calendar"></i>
                                                                                                </div>
                                                                                                <input type="text"    class="form-control  "  id="glPRDate" th:field="*{lPRDate}"    />                
                                                                                            </div>  
                                                                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('lPRDate')}" th:errors="*{lPRDate}">First Name Error</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>-->



                                        <div class="row">
                                            <div class="form-group ">
                                                <label for="name" class="col-sm-4 control-label"> চাকরির বর্তমান অবস্থা :<span class="text-red"> * </span> </label>
                                                <div class="col-sm-6">                   
                                                    <select class="form-control  "   th:field="*{employeeStatus}"  >
                                                        <option value=" "> Select one</option>
                                                        <option th:each =" employeestatus :${employeestatus}"
                                                                th:value=" ${employeestatus}" 
                                                                th:text="${employeestatus}"> Select one</option>
                                                    </select>
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('employeeStatus')}" th:errors="*{employeeStatus}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-center" >
                                                <div class="box-tools">
                                                    <div class="btn-group text-center">

                                                        <button type="submit" class="btn  btn-warning">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.box -->              
                        </div>

                        <div class="col-sm-6">    
                            <div class="box box-success  box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><span th:text="${table_name}"> ..</span>সাধারণ তথ্য</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    <table>
                                        <tr  th:if="${#lists.isEmpty(list)}"  >


                                            <td colspan="10"> <h4  class="text-center"> দুঃখিত, কোন তথ্য পাওয়া যায়নি। </h4></td>

                                        </tr> 
                                    </table>  


                                    <table  th:if="${!#lists.isEmpty(list)}"  class="table table-bordered">
                                        <tr >
                                            <th>
                                                <a th:href="@{/generalinformation/edit/{id} (id=${list.id})}" > Edit</a>
                                            </th>
                                            <td> <a th:href="@{/generalinformation/delete/{id} (id=${list.id})}" > Delete </a></td>
                                        </tr>

                                        <tr>
                                            <th> পরিচিতি নম্বর  (IDN) </th>
                                            <td th:text="${list.governmentId.governmentId}">Chakma</td>
                                        </tr> 
                                        <tr>
                                            <th> নাম </th>
                                            <td th:text="${list.name}">Chakma</td>
                                        </tr> 

                                        <tr>
                                            <th> নাম বাংলা  </th>
                                            <td th:text="${list.nameBangla}">Chakma</td>
                                        </tr> 

                                        <tr>
                                            <th>  পিতার নাম (ইংরেজী):     </th>
                                            <td th:text="${list.fathersName}">Chakma</td>
                                        </tr>

                                        <tr>
                                            <th>  পিতার নাম (বাংলা)      </th>
                                            <td th:text="${list.fathersNameBangla}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>    মাতার নাম (ইংরেজী)  </th>
                                            <td th:text="${list.mothersName}">Chakma</td>
                                        </tr>

                                        <tr>
                                            <th>   মাতার নাম (বাংলা)     </th>
                                            <td th:text="${list.mothersNameBangla}">Chakma</td>
                                        </tr>


                                        <tr>
                                            <th>        নিজ জেলা   </th>
                                            <td th:text="${list.homeDistrict}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>    জন্ম তারিখ     </th>
                                            <td th:text="${list.dateofBirth}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>    জন্ম স্থান  </th>
                                            <td th:text="${list.birthCountry}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>       জন্ম নিবন্ধন নম্বর  </th>
                                            <td th:text="${list.birthCertificateNumber}">Chakma</td>
                                        </tr>
                                        
                                                  <tr>
                                            <th> জাতীয় পরিচয়পত্র নম্বর   </th>
                                            <td th:text="${list.nid}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>      লিঙ্গ     </th>
                                            <td th:text="${list.gender}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>    বৈবাহিক অবস্থা    </th>
                                            <td th:text="${list.maritalStatus}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>      ধর্ম     </th>
                                            <td th:text="${list.religion}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>     জাতিগত পরিচয়     </th>
                                            <td th:text="${list.ethnicIdentity}">Chakma</td>
                                        </tr>
<!--                                        <tr>
                                            <th>      জাতীয়তা   </th>
                                            <td th:text="${list.nationality}">Chakma</td>
                                        </tr>-->
                                        <tr>
                                            <th>     রক্তের গ্রুপ :   </th>
                                            <td th:text="${list.bloodGroup}">Chakma</td>
                                        </tr>

                                        <tr>
                                            <th>   ড্রাইভিং লাইসেন্স     </th>
                                            <td th:text="${list.drivingLicence}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>     পাসপোর্ট নম্বর    </th>
                                            <td th:text="${list.passportNo}">Chakma</td>
                                        </tr>
                              
                                        <tr>
                                            <th>   টিআইএন নং  </th>
                                            <td th:text="${list.tin}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>     অবসর উত্তর ছুটির তারিখ    </th>
                                            <td th:text="${list.lPRDate}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>    চাকরির বর্তমান অবস্থা   </th>
                                            <td th:text="${list.employeeStatus}">Chakma</td>
                                        </tr>
<!--                                        <tr>
                                            <th>    Version   </th>
                                            <td th:text="${list.version}">Chakma</td>
                                        </tr>-->
                                        <tr>
                                            <th>     Created On    </th>
                                            <td th:text="${list.createdOn}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>    Created By     </th>
                                            <td th:text="${list.createdBy}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>     Updated On   </th>
                                            <td th:text="${list.updatedOn}">Chakma</td>
                                        </tr>
                                        <tr>
                                            <th>     Updated By    </th>
                                            <td th:text="${list.updatedBy}">Chakma</td>
                                        </tr>

                                    </table>

                                </div>
                                <!-- /.box-body -->
                            </div>                      
                        </div>             
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>