<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    ব্যক্তিগত তথ্য ব্যবস্থাপনা 
                    <small></small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> ঠিকানা </h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <a th:href="@{/details/detailsinfo/{id} (id=${addressInformation.governmentId.id})}" type="button" class="btn  btn-warning ">বন্ধ</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body  ">
                        <div class="col-sm-6 col-md-6">
                            <!-- Default box -->
                            <div class="box box-warning box-solid  ">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> ঠিকানার  তথ্য যোগ/সম্পাদনা করুন</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>    </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>

                                    </div>
                                </div>

                                <div class="box-body">
                                    <form action="#"  th:action="@{/addressinformation/save/{id} (id=${addressInformation.governmentId.id})}"   th:object="${addressInformation}" method="post" class="form-horizontal">

                                        <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4><i class="icon fa fa-ban"></i> Error </h4>
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>

                                        <div class="row">
                                            <input type="hidden" class="form-control"  th:field="*{id}" />
                                            <input type="hidden" class="form-control display"  th:field="*{governmentId}" />

                                        </div>

                                        <!--                                        <div class="row">
                                                                                    <div class="form-group ">
                                                                                        <label for="name" class="col-sm-4 control-label"> এড্রেস টাইপ :<span class="text-red"> * </span> </label>
                                                                                        <div class="col-sm-7">                   
                                                                                            <select class="form-control  "   th:field="*{addressType}"  >
                                                                                                <option value=" "> Select one</option>
                                                                                                <option th:each =" addresstype :${addresstype}"
                                                                                                        th:value=" ${addresstype}" 
                                                                                                        th:text="${addresstype}"> Select one</option>
                                                                                            </select>
                                                                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('addressType')}" th:errors="*{addressType}">First Name Error</span>
                                                                                        </div>                            
                                                                                    </div>
                                        
                                                                                </div>-->
                                        <!--                                        <div class="row">
                                                                                    <div class="form-group">
                                                                                        <label for="name" class="col-sm-4 control-label"> গ্রাম / রাস্তা  :<span class="text-red"> * </span></label>
                                                                                        <div class="col-sm-7">                    
                                                                                            <input type="text"  class="form-control  "    th:field="*{village}"  />        
                                                                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('village')}" th:errors="*{village}">First Name Error</span>
                                                                                        </div>                            
                                                                                    </div>
                                                                                </div>-->
                                        <!--                                        <div class="row">
                                                                                    <div class="form-group">
                                                                                        <label for="name" class="col-sm-4 control-label"> ডাক ঘর  :<span class="text-red"> * </span></label>
                                                                                        <div class="col-sm-7">                    
                                                                                            <input type="text"  class="form-control  "    th:field="*{postOffice}"  />        
                                                                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('postOffice')}" th:errors="*{postOffice}">First Name Error</span>
                                                                                        </div>                            
                                                                                    </div>
                                                                                </div>-->

                                        <!--                                        <div class="row">
                                                                                    <div class="form-group ">
                                                                                        <label for="name" class="col-sm-4 control-label"> জেলা  :<span class="text-red"> * </span> </label>
                                                                                        <div class="col-sm-7">                   
                                                                                            <select class="form-control  "   th:field="*{district}"  >
                                                                                                <option value=" "> Select one</option>
                                                                                                <option th:each =" district :${district}"
                                                                                                        th:value=" ${district}" 
                                                                                                        th:text="${district}"> Select one</option>
                                                                                            </select>
                                                                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('district')}" th:errors="*{district}">First Name Error</span>
                                                                                        </div>                            
                                                                                    </div>
                                        
                                                                                </div>-->

                                        <!--                                        <div class="row">
                                                                                    <div class="form-group ">
                                                                                        <label for="name" class="col-sm-4 control-label">উপজেলা / থানা  :<span class="text-red"> * </span> </label>
                                                                                        <div class="col-sm-7">                   
                                                                                            <select class="form-control  "   th:field="*{upazila}"  >
                                                                                                <option value=" "> Select one</option>
                                                                                               <option th:each =" thana :${thana}"
                                                                                                        th:value=" ${thana.id}" 
                                                                                                        th:text="${thana.name}"> Select one</option>
                                                                                            </select>
                                                                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('upazila')}" th:errors="*{upazila}">First Name Error</span>
                                                                                        </div>                            
                                                                                    </div>
                                        
                                                                                </div>-->

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">বর্তমান ঠিকানা  :<span class="text-red"> </span></label>
                                                <div class="col-sm-7">                    
                                                    <textarea   class="form-control  "    th:field="*{presentAddress}"  />   </textarea>     
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('presentAddress')}" th:errors="*{presentAddress}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">স্থায়ী ঠিকানা   :<span class="text-red"> </span></label>
                                                <div class="col-sm-7">                    
                                                    <textarea  class="form-control  "    th:field="*{permanentAddress}"  />     </textarea>    
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('permanentAddress')}" th:errors="*{permanentAddress}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>


<!--                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">অফিসিয়াল ঠিকানা   :<span class="text-red"> </span></label>
                                                <div class="col-sm-7">                    
                                                    <textarea  class="form-control  "    th:field="*{officialAddress}"  />     </textarea>    
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('officialAddress')}" th:errors="*{officialAddress}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>-->


                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">ইমেল  :<span class="text-red"> </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{email}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

<!--                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">ওয়েব মেল  :<span class="text-red"> </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{webmail}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('webmail')}" th:errors="*{webmail}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>-->

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">মুঠো ফোন  :<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{mobile}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> টেলিফোন  :<span class="text-red">  </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{telphone}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('telphone')}" th:errors="*{telphone}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
<!--                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">ফ্যাক্স :<span class="text-red"> </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{fax}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>-->
<!--                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">পি এ বি এক্স  :<span class="text-red"> </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{pabx}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('pabx')}" th:errors="*{pabx}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>-->

                                        <div class="row">
                                            <div class="text-center" >
                                                <div class="box-tools">
                                                    <div class=" text-center">
                                                        <br/>
                                                        <button type="submit" class="btn  btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.box -->              
                        </div>

                        <div class="col-sm-6 col-md-12col-xs-6">    
                            <div class="box box-success  box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><span th:text="${table_name}"> ..</span>বিস্তারিত ঠিকানা</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <div th:each="list,status:${list}">

                                        <table class="table table-bordered">


                                            <tr>
                                                <th>

                                                </th>
                                                <td>
                                                    <a  class=" btn  btn-xs bg-maroon" th:href="@{/addressinformation/edit/{id} (id=${list.id})}" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>

                                                    <a class=" btn  btn-xs bg-red" th:href="@{/addressinformation/delete/{id} (id=${list.id})}" > <i class="fa fa-trash" aria-hidden="true"></i> </a>
                                                </td>
                                            </tr>


                                            <tr>
                                                <th> বর্তমান ঠিকানা</th>
                                                <td th:text="${list.presentAddress}">BCS</td>   
                                            </tr>  


                                            <tr>
                                                <th> স্থায়ী ঠিকানা</th>
                                                <td th:text="${list.permanentAddress}">BCS</td>   
                                            </tr> 

<!--                                            <tr>
                                                <th> অফিসিয়াল ঠিকানা</th>
                                                <td th:text="${list.officialAddress}">BCS</td>   
                                            </tr> -->

                                            <tr>
                                                <th> ইমেল:</th>
                                                <td th:text="${list.email}">BCS</td>   
                                            </tr>
<!--                                            <tr>
                                                <th> ওয়েব মেইল:</th>
                                                <td th:text="${list.webmail}">BCS</td>   
                                            </tr>-->
                                            <tr>
                                                <th> মুঠো ফোন</th>
                                                <td th:text="${list.mobile}">BCS</td>   
                                            </tr><tr>
                                                <th> টেলিফোন :</th>
                                                <td th:text="${list.telphone}">BCS</td>   
                                            </tr>
<!--                                            <tr>
                                                <th> ফ্যাক্স :</th>
                                                <td th:text="${list.fax}">BCS</td>   
                                            </tr>-->
<!--                                            <tr>
                                                <th> পি এ বি এক্স :</th>
                                                <td th:text="${list.pabx}">BCS</td>   
                                            </tr>-->

                                            <tr>
                                                <th> Created On</th>
                                                <td th:text="${list.createdOn}">BCS</td>   
                                            </tr>
                                            <tr>
                                                <th> Created By</th>
                                                <td th:text="${list.createdBy}">BCS</td>   
                                            </tr>
                                            <tr>
                                                <th> Updated On</th>
                                                <td th:text="${list.updatedOn}">BCS</td>   
                                            </tr>
                                            <tr>
                                                <th> Updated By</th>
                                                <td th:text="${list.updatedBy}">BCS</td>   
                                            </tr>

                                        </table>


                                    </div>
                                </div>
                            </div>                      
                        </div>  
                    </div>


                </div>
                <!-- /.box -->



            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>