<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                           ব্যক্তিগত তথ্য ব্যবস্থাপনা সিস্টেম 
                    <small></small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> অন্যান্য চাকরির তথ্য  </h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <a th:href="@{/details/detailsinfo/{id} (id=${otherServiceInformation.governmentId.id})}" type="button" class="btn  btn-warning ">Close</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body  ">
                        <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
                            <!-- Default box -->
                            <div class="box box-warning box-solid  ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">অন্যান্য চাকরির তথ্য যোগ/সম্পাদনা করুন</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <form action="#" th:action="@{/otherserviceinformation/save/{id} (id=${otherServiceInformation.governmentId.id})}" th:object="${otherServiceInformation}" method="post" class="form-horizontal">                            
                                        <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4><i class="icon fa fa-ban"></i> Error </h4>
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>       

                                        <div class="row">
                                            <input type="hidden" class="form-control"  th:field="*{id}" />
                                            <input type="hidden" class="form-control display"  th:field="*{governmentId}" />
                                        </div>                         
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> নিয়োগকর্তার নাম  :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{nameoftheEmployer}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('nameoftheEmployer')}" th:errors="*{nameoftheEmployer}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> ঠিকানা  :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <textarea class="form-control  "    th:field="*{address}" >        </textarea>   
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> সেবার ধরণ :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{typeofService}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('typeofService')}" th:errors="*{typeofService}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> উপাধি :<span class="text-red"> * </span></label>
                                                <div class="col-sm-7">                    
                                                    <input type="text"  class="form-control  "    th:field="*{position}"  />        
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label">  তারিখ থেকে <span class="text-red">  * </span></label>
                                                <div class="col-sm-7">    
                                                    <div class="input-group date" >
                                                        <div class="input-group-addon" > 
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text"   placeholder="dd/mm/yyyy" class="form-control  " th:field="*{periodFrom}"    />                
                                                    </div>  
                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('periodFrom')}" th:errors="*{periodFrom}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="name" class="col-sm-4 control-label"> তারিখ পর্যন্ত <span class="text-red"> *  </span></label>
                                                <div class="col-sm-7">    
                                                    <div class="input-group date" >
                                                        <div class="input-group-addon" > 
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text"   placeholder="dd/mm/yyyy" class="form-control  " th:field="*{periodTo}"    />                
                                                    </div>  

                                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('periodTo')}" th:errors="*{periodTo}">First Name Error</span>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-center" >
                                                <div class="box-tools">
                                                    <div class=" text-center">
                                                        <br/>
                                                        <button type="submit" class="btn  btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.box -->              
                        </div>

                        <div class="col-sm-12 col-md-12col-xs-12">    
                            <div class="box box-success  box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><span th:text="${table_name}"> ..</span> অন্যান্য চাকরির তথ্য </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body">

                                    <table class="table table-bordered ">
                                        <thead class=" box box-success  box-solid">
                                            <tr>  
                                                <th>Sr. no.</th> 
                                                <th>নিয়োগকর্তার নাম</th>
                                                <th>ঠিকানা</th>
                                                <th>সেবার ধরণ </th>
                                                <th>উপাধি</th>
                                                <th>তারিখ থেকে</th>
                                                <th>তারিখ পর্যন্ত</th>
                                                <th>Created</th>
                                                <th>Updated</th>
                                                <th>Edit</th>
                                                <th>Delete</th>

                                            </tr>
                                        </thead>

                                        <tr  th:each="list,status:${list}">
                                            <td th:text="${ status.count}">2 </td> 
                                            <td th:text="${list.nameoftheEmployer}">BCS</td> 
                                            <td th:text="${list.address}">BCS</td> 
                                            <td th:text="${list.typeofService}">BCS</td> 
                                            <td th:text="${list.position}">BCS</td> 
                                            <td th:text="${list.periodFrom}">BCS</td>
                                            <td th:text="${list.periodTo}">BCS</td>
                                            <td>Created:<span th:text="${list.createdOn}"></span><br/>
                                                Created By:<span th:text="${list.createdBy}"></span>
                                            </td>
                                            <td>
                                                Updated:<span th:text="${list.updatedOn}"></span><br/>
                                                Updated By:<span th:text="${list.updatedBy}"></span></td>

                                            <td> <!--  <button class=" btn  btn-xs bg-orange"> <i class="fa fa-eye" aria-hidden="true"></i> </button> -->
                                                <a  class=" btn  btn-xs bg-maroon" th:href="@{/otherserviceinformation/edit/{id} (id=${list.id})}" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                                            </td>
                                            <td>
                                                <a class=" btn  btn-xs bg-red" th:href="@{/otherserviceinformation/delete/{id} (id=${list.id})}" > <i class="fa fa-trash" aria-hidden="true"></i> </a>
                                            </td>

                                        </tr>


                                    </table>
                                </div>
                            </div>                      
                        </div>  
                    </div>


                </div>
                <!-- /.box -->



            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>